# Selforganizing Map

Implementation based on Tensorflow.
Because we want a spatial division of our prices, we need the whole dataset. But we only use 3 Prices a day to thin out the amount of data

In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
import tensorflow as tf
import numpy as np
import pandas as pd
np.set_printoptions(precision=5, suppress=True)

from sqlalchemy import create_engine

def create_connection():
    host = 'localhost'
    port = '3333'
    return create_engine(f"postgresql://infocup@{host}:{port}/infocup")

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [2]:
con = create_connection()

active_stations = pd.read_sql_query("""SELECT station_id,time_stamp, price 
FROM prices_sampled 
WHERE date_part('hour', time_stamp)::int %% 8 = 0
AND time_stamp >= '2017-06-01'""", con)

active_stations.head(10)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>station_id</th>
      <th>time_stamp</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>14087</td>
      <td>2017-06-01 00:00:00</td>
      <td>1389</td>
    </tr>
    <tr>
      <th>1</th>
      <td>14087</td>
      <td>2017-06-01 08:00:00</td>
      <td>1329</td>
    </tr>
    <tr>
      <th>2</th>
      <td>14087</td>
      <td>2017-06-01 16:00:00</td>
      <td>1309</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14087</td>
      <td>2017-06-02 00:00:00</td>
      <td>1389</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14087</td>
      <td>2017-06-02 08:00:00</td>
      <td>1319</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14087</td>
      <td>2017-06-02 16:00:00</td>
      <td>1299</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14087</td>
      <td>2017-06-03 00:00:00</td>
      <td>1389</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14087</td>
      <td>2017-06-03 08:00:00</td>
      <td>1369</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14087</td>
      <td>2017-06-03 16:00:00</td>
      <td>1309</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14087</td>
      <td>2017-06-04 00:00:00</td>
      <td>1389</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
active_stations['time_stamp'] = active_stations['time_stamp'].astype(np.int64) // 10**9
data_np = active_stations.as_matrix()
ids = active_stations.as_matrix(columns=['station_id']).flatten()
data_np

array([[     14087, 1496275200,       1389],
       [     14087, 1496304000,       1329],
       [     14087, 1496332800,       1309],
       ...,
       [     14086, 1505952000,       1449],
       [     14086, 1505980800,       1379],
       [     14086, 1506009600,       1379]])

In [10]:
from DataExploration import som

som = som.SOM(20, 30, 3, 100)

som.train(data_np)

#Get output grid
image_grid = som.get_centroids()
 
#Map colours to their closest neurons
mapped = som.map_vects(data_np)

#Plot
plt.imshow(image_grid)
plt.title('Prices SOM')
for i, m in enumerate(mapped):
    plt.text(m[1], m[0], ids[i], ha='center', va='center',
             bbox=dict(facecolor='white', alpha=0.5, lw=0))
plt.show()

WARNING:tensorflow:From /usr/lib/python3.6/site-packages/tensorflow/python/util/tf_should_use.py:107: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

SyntaxError: invalid syntax (<ipython-input-34-3fbcd3d988ea>, line 11)